<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/decks">Decks</a></li>
            <li><a href="/create">Create Decks</a></li>
        </ul>
    </nav>

    <h1>Add Character</h1>
    <form action="/addCharacter" method="POST">

        <label>Character</label>
        <input type="text" name="character" required>

        <label>English</label>
        <input type="text" name="english" required>

        <label>Pronunciation</label>
        <input type="text" name="pronunciation" required>

        <button type="submit">
            Submit
        </button>
    </form>


    <h1>Create Deck</h1>
    <form action="/addDeck" method="POST">

        <label>Name</label>
        <input type="text" name="title" required>

        <button type="submit">
            Submit
        </button>

    </form>
    
</body>
</html>