<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="/css/style.css">

</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/flashcards">Flashcards</a></li>
        </ul>
    </nav>
    
    <div class ="flashCardBody">
        <div class = "flashCardsInterface">
            <div class= "gameInfo">
                <p class = "cardIndex" id = "indexDisplay">
                    
                </p>
                <p class = "wrongs" id = "wrongDisplay">
                    
                </p>
                <p class = "corrects" id = "correctDisplay">
                    
                </p>
                
            </div>

            

            <button class = "card" id = "card">
                 
            </button>

            <div class = "wrongRight">
                <button class = "wrong" id ="wrong">
                    wrong
                </button>

                <button class = "right" id ="right">
                    right
                </button>
            </div>
            
        </div>

    </div>
    
</body>
</html>
<script>
    const card = document.getElementById("card");
    const right = document.getElementById("right");
    const wrong = document.getElementById("wrong");
    const correctDisplay = document.getElementById("correctDisplay");
    const wrongDisplay = document.getElementById("wrongDisplay");
    const indexDisplay = document.getElementById("indexDisplay");

    const deck =
    <%- JSON.stringify(deck) %>;

    const characters =
    <%- JSON.stringify(characters) %>;

    console.log(deck,characters);

    let wrongs = 0;
    let rights = 0;
    let index = 0;
    let side = 0;
    let length = characters.length;

    updateText();

    function updateText(){
        if(index<length){
            card.innerText = characters[index].chinese_character;
            correctDisplay.innerText = `correct: ${rights}`;
            wrongDisplay.innerText = `incorrect: ${wrongs}`;
            indexDisplay.innerText = `${index +1 }/${length}`;
        }else{
            finished();
        }
      
    }

    

    function flip(){
        switch (side){
            case 0:
                card.innerText = characters[index].chinese_character;
                break;
            case 1:
                card.innerText = characters[index].english;
                break;
            case 2:
                card.innerText = characters[index].pronunciation;
                break;
        }

    }
    
    card.addEventListener(
        "click",
        ()=>{
            if (side == 2) side=0;
            else side ++;
            flip();
        }
    )

    function finished(){

    }

    right.addEventListener(
        "click",
        ()=>{
            rights++;
            index++;
            updateText();
        }
    )
    wrong.addEventListener(
        "click",
        ()=>{
            wrongs++;
            index++;
            updateText(); 
        }
    )

</script>