<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="/css/style.css">

</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/decks">Decks</a></li>
        </ul>
    </nav>

    <div
        id="endPopup"
        class="popup">

        <div class="popupContent">

            <h2>
                Deck Finished!
            </h2>
            <p id="finalScore">
                Score: 0
            </p>

            <button id="restartGame">
                Restart
            </button>
            <button id ="exitGame">
                Back to Decks
            </button>
        </div>

    </div>
    
    <div class ="flashCardBody">
        <div class = "flashCardsInterface">
            <div class= "gameInfo">
                <p class = "cardIndex" id = "indexDisplay">
                    
                </p>
                <p class = "wrongs" id = "wrongDisplay">
                    
                </p>
                <p class = "corrects" id = "correctDisplay">
                    
                </p>
                
            </div>

            

            <button class = "card" id = "card">
                 
            </button>

            <div class = "wrongRight">
                <button class = "wrong" id ="wrong">
                    wrong
                </button>

                <button class = "right" id ="right">
                    right
                </button>
            </div>
            
        </div>

    </div>
    
</body>
</html>
<script>
    const card = document.getElementById("card");
    const right = document.getElementById("right");
    const wrong = document.getElementById("wrong");
    const correctDisplay = document.getElementById("correctDisplay");
    const wrongDisplay = document.getElementById("wrongDisplay");
    const indexDisplay = document.getElementById("indexDisplay");
    const exitGame = document.getElementById("exitGame");
    const restartGame = document.getElementById("restartGame");
    const popup = document.getElementById( "endPopup");
    const finalScore = document.getElementById("finalScore");

    const deck = <%- JSON.stringify(deck) %>;

    const characters = <%- JSON.stringify(characters) %>;

    //console.log(deck,characters);
    let playing = true;
    let wrongs = 0;
    let rights = 0;
    let index = 0;
    let side = 0;
    let length = characters.length;

    start();

    if(playing){
        document.addEventListener(
            "keydown",
            (event)=>{
                if(event.key === "ArrowLeft"){
                    if (side == 0) side=2;
                    else side --;
                    flip();
                } 

                if(event.key ==="ArrowRight"){
                    if (side == 2) side=0;
                    else side ++;
                    flip()
                }
                if(event.key ==="ArrowUp"){
                    event.preventDefault();
                    rights++;
                    index++;
                    updateText();
                }
                if(event.key === "ArrowDown"){
                    event.preventDefault();
                    wrongs++;
                    index++;
                    updateText();
                }
            }
        )
    }
    

    card.addEventListener(
        "click",
        ()=>{
            if (side == 2) side=0;
            else side ++;
            flip();
        }
    )

    right.addEventListener(
        "click",
        ()=>{
            rights++;
            index++;
            updateText();
        }
    );
    wrong.addEventListener(
        "click",
        ()=>{
            wrongs++;
            index++;
            updateText(); 
        }
    );

    exitGame.addEventListener("click",()=>{
        window.location.href =
            "/decks";
    });

    restartGame.addEventListener("click",()=>{
        endPopup.style.display = "none";
        start();
    });

    document.add

    function saveScore(){
        fetch(
            "/setDeckScore",
            {
                method:"POST",

                headers:{
                    "Content-Type":
                    "application/json"
                },
                body:JSON.stringify({
                    deck_id:deck.id,
                    score: rights
                })

            }
        );

    }
    
    function start(){
        side = 0;
        wrongs = 0;
        rights = 0;
        index = 0 ; 
        side = 0 ; 
        updateText();
        playing = true;
    }
    
    function showPopup(){
        finalScore.innerText = `Score: ${rights}`;

        popup.style.display = "flex";
    }

    function flip(){
        switch (side){
            case 0:
                card.innerText = characters[index].chinese_character;
                break;
            case 1:
                card.innerText = characters[index].english;
                break;
            case 2:
                card.innerText = characters[index].pronunciation;
                break;
        }

    }
    
    function updateText(){
        correctDisplay.innerText = `correct: ${rights}`;
        wrongDisplay.innerText = `incorrect: ${wrongs}`; 
        if(index<length){
            indexDisplay.innerText = `${index +1 }/${length}`;
            card.innerText = characters[index].chinese_character;
        }else{
            playing = false;
            showPopup();
            saveScore();
        }
      
    }


</script>