<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="/css/style.css">

</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/flashcards">Flashcards</a></li>
        </ul>
    </nav>
    
    <div class ="flashCardBody">
        <div class = "flashCardsInterface">
            <div class= "gameInfo">
                <p class = "cardIndex">
                    1/10
                </p>
                <p class = "corrects">
                    2
                </p>
                <p class = "wrongs">
                    3
                </p>
            </div>

            

            <button class = "card" id = "card">
                 
            </button>

            <div class = "wrongRight">
                <button class = "wrong" id ="wrong">
                    wrong
                </button>

                <button class = "right" id ="right">
                    right
                </button>
            </div>
            
        </div>

    </div>
    
</body>
</html>
<script>
    const card = document.getElementById("card");
    const right = document.getElementById("right");
    const wrong = document.getElementById("wrong");

    const deck =
    <%- JSON.stringify(deck) %>;

    const characters =
    <%- JSON.stringify(characters) %>;

    let index = 2;
    let side = 0;

    card.innerText = characters[index].chinese_character;

    function flip(){
        switch (side){
            case 0:
                card.innerText = characters[index].chinese_character;
                break;
            case 1:
                card.innerText = characters[index].english;
                break;
            case 2:
                card.innerText = characters[index].pronunciation;
                break;
        }

    }
    
    
    card.addEventListener(
        "click",
        ()=>{
            if (side == 2) side=0;
            else side ++;
            flip();
        }

    )
    
</script>