<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="/css/style.css">

</head>
<body>
    <div class = "flashCardsInterface">
        <div class= "gameInfo">
            <p class = "cardIndex">
                1/10
            </p>
            <p class = "corrects">
                2
            </p>
            <p class = "wrongs">
                3
            </p>
        </div>

        

        <button class = "card">
            text goes here
        </button>

        <div class = "wrongRight">
            <button class = "wrong">
                wrong
            </button>

            <button class = "right">
                right
            </button>
        </div>
        
    </div>
    
</body>
</html>