<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        rel="stylesheet"
        href="/css/style.css">

</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="navLinks">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/flashcards">Flashcards</a></li>
        </ul>
    </nav>
    
    <div class ="flashCardBody">
        <div class = "flashCardsInterface">
            <div class= "gameInfo">
                <p class = "cardIndex">
                    1/10
                </p>
                <p class = "corrects">
                    2
                </p>
                <p class = "wrongs">
                    3
                </p>
            </div>

            

            <button class = "card">
                text goes here
            </button>

            <div class = "wrongRight">
                <button class = "wrong">
                    wrong
                </button>

                <button class = "right">
                    right
                </button>
            </div>
            
        </div>

    </div>
    
</body>
</html>