<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            MySite
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/account">Account</a></li>
        </ul>
    </nav>

    <h1>Sign Up</h1>
    <form action="/addUser" method="POST" >
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="text" name="password" required>

        <label>Email</label>
        <input type="text" name="email" required>

        <button type="submit">
            Submit
        </button>
    </form>

    <h1>Log In</h1>
    <form action="/login" method="POST">
        <label>Username</label>
        <input name="username">
        
        <label>Password</label>
        <input type="password" name="password">
        <button>
            Login
        </button>
    </form>


</body>
</html>