body{
    margin:0;
    background-color: rgb(255, 255, 255);

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{

    text-decoration:none;

    color:inherit;

}

.navbar{
    display:flex;

    justify-content:space-between;

    padding: 20px;

    position: sticky;
    top:0;

    background-color: rgb(255, 252, 231);


}

.navLinks{

    display:flex;

    gap:20px;

    list-style:none;

    justify-content:space-between;

    margin:0;

    padding:0;
}

.dictionaryPage{

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction: column;

    font-size: 150%;

}
.dictionaryPages{
    display: flex;
    flex-direction: row;
    
}


.dictionarySearchBar{

    width:350px;

    padding:10px;

    font-size:18px;

    margin-bottom:20px;

    border-radius:8px;

    border:2px solid #ccc;
}

.toggleLearnButton{
    background-color:rgb(225, 225, 225);
    min-width: 150px;
}
.toggleLearnButton:hover{
    background-color:rgb(152, 161, 127);
    transform: scale(1.01);
    
}


.flashCardBody{
    display:flex;
    flex-direction: column;

    justify-content:center;

    align-items:center;

    height:90vh;
}
.flashCardTitle{
    font-size: 40px;
    padding: 2px;
    background-color:rgb(114, 168, 123) ;
    width:400px;
    border-radius: 100%;
    display:flex;
    justify-content: center;

}
.flashCardsInterface{

    width:700px;
    height:400px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:10px;


}


.gameInfo{

    display:flex;

    justify-content:space-between;

    font-size:24px;
}


.card{

    width:400px;
    height:250px;

    align-self:center;

    font-size:35px;

    background:#f4f0ff;
}

.wrongCorrect{

    display:flex;

    justify-content:center;
}

.wrong,
.correct{

    width:200px;
    height:70px;

    font-size:24px;
}
.popup{

    display:none;

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:
        rgba(0,0,0,0.5);

    justify-content:center;

    align-items:center;
}

.popupContent{

    background:white;

    padding:30px;

    border-radius:20px;

    text-align:center;

    min-width:300px;
}

.deckContainer{

    display:grid;

    grid-template-columns:
        repeat(5,1fr);

    gap:25px;

    width:80%;

    margin:auto;

    margin-top:40px;
}
.deckAndButtons{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(226, 205, 203);
    border-radius: 15px;
    padding: 10px;
    
}


.deckCard{
     
    padding:20px;
    padding-bottom: 0%;

    background:rgb(49, 205, 205);

    border-radius:15px;

    border:1px solid #e3fffe;

    text-decoration:none;

    color:black;

    display:flex;

    flex-direction:column;
    justify-content:center;
    
}

.deckCard:hover{
     background:rgb(100, 205, 205);
    transform: scale(1.01); 
    
}
.addDeck{

    display:flex;
    
    justify-content:center;

    align-items:center;

    gap:15px;

    width:fit-content;

    margin:10px auto;

    padding:15px;

    background:rgb(109, 138, 23);

    border-radius:20px;

    box-shadow:
        0 4px 12px
        rgba(0,0,0,0.15);

}

.addDeck input{

    font-size:18px;

    padding:12px 18px;

    border-radius:10px;

    border:2px solid #000000;

}

.addDeck button{

    font-size:18px;

    padding:12px 20px;

    border:none;

    border-radius:10px;

    background:steelblue;

    color:white;

    cursor:pointer;

}
.addDeck button:hover{

    background:rgb(50,100,180);
}
.editDeck{
    font-size: 200%;
    width:100%;
    text-align:center;
    background-color: rgb(68, 172, 68);
    border-radius:15px ;
    margin-bottom: 5%;
}
.editDeck:hover{
    transform: scale(1.07); 
    background-color:rgb(49, 187, 49);
}
.deleteDeck{
    font-size: 200%;
    background-color: rgb(205, 49, 49);
    border-radius:15px ;
    margin-bottom: 5%;

}
.deleteDeck:hover{
    transform: scale(1.1); 
    background-color:rgb(223, 49, 49);
}


.pageLayout{

    display:flex;

    height:100vh;
}

.accountInfo{

    display:flex;

    flex-direction:column;
    padding:10px;
    

    align-items:center;
}

.createCharacterLayout{

    display:flex;

    gap:40px;

    width:90%;
    margin:auto;

    margin-top:30px;

    
}

.panel{

    flex:1;

    background:
        rgb(241, 245, 222);

    padding:20px;

    border-radius:15px;

    min-height:100vh;
}
.createPageCharacterRow{
    padding-left: 1cm;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.createPageCharacterRow:hover{
    background-color: rgb(207, 210, 194);
    font-weight: bold;

}

.createSearchBar{

    width:90%;

    padding:10px;

    margin-bottom:20px;
    

    border-radius:8px;

    border:2px solid #ccc;
}
.createPageCharacterRow button{
    width: 120px;
    height: 40px;
}
.dictionaryTable{
    border-collapse:collapse;
    font-size: 120%;
    width:100%;
    
}
.dictionaryTable th,
.dictionaryTable td{

    border:1px solid #ccc;

    padding:12px;

    text-align:left;
}
.dictionaryTable th{

    background:#163230;

    color:rgb(222, 153, 153);

    font-size:18px;
}

.dictionaryRow td {
    padding: 10px 20px;
    border-bottom: 1px solid #000000;
}
.dictionaryRow:hover{
    background:#b79bc6;
}

.addButton,
.removeButton{

    padding:8px 14px;

    border:none;

    border-radius:8px;

    cursor:pointer;
    padding-bottom: 1cap;
    width: 10cm;
    margin: .5cm

}

.addButton{
    background:
        lightgreen;
}

.removeButton{
    background:
        salmon;
}

.addButton:hover{
    transform: scale(1.07); 
    background: rgb(83, 247, 83);
    
}
.removeButton:hover{
    transform: scale(1.07); 
    background:rgb(239, 76, 58);
 
}