body{
    margin:0;
    background-color: rgb(255, 255, 255);

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{

    text-decoration:none;

    color:inherit;

}

.navbar{
    display:flex;

    justify-content:space-between;

    padding: 20px;

    position: sticky;
    top:0;

    background-color: rgb(255, 252, 231);


}

.navLinks{

    display:flex;

    gap:20px;

    list-style:none;

    justify-content:space-between;

    margin:0;

    padding:0;
}

.dictionaryPage{

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction: column;

    font-size: 150%;

}


.flashCardBody{
    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.flashCardsInterface{

    width:700px;
    height:400px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:10px;

  

}

.gameInfo{

    display:flex;

    justify-content:space-between;

    font-size:24px;
}


.card{

    width:400px;
    height:250px;

    align-self:center;

    font-size:35px;

    background:#ff3131;
}

.wrongRight{

    display:flex;

    justify-content:center;
}

.wrong,
.right{

    width:200px;
    height:70px;

    font-size:24px;
}


.deckContainer{

    display:grid;

    grid-template-columns:
        repeat(5,1fr);

    gap:25px;

    width:80%;

    margin:auto;

    margin-top:40px;
}


.deckCard{

    padding:20px;

    background:rgb(49, 205, 205);

    border-radius:15px;

    border:0px solid #e3fffe;

    text-decoration:none;

    color: #00ff33;

    display:flex;

    flex-direction:column;

    gap:10px;
}

.deckCard:hover{
    background:rgb(205, 49, 49);

}
.addDeck{
    font-size: 20px;
    background-color: rgb(205, 205, 49);
    display: flex;
    flex-direction: column;
}
.popup{

    display:none;

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:
        rgba(0,0,0,0.5);

    justify-content:center;

    align-items:center;
}

.popupContent{

    background:white;

    padding:30px;

    border-radius:20px;

    text-align:center;

    min-width:300px;
}

.pageLayout{

    display:flex;

    height:100vh;
}



.accountInfo{

    display:flex;

    flex-direction:column;
    padding:10px;
    

    align-items:center;
}